{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <script src="{% static 'weather/color-modes.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'weather/style.css' %}">
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like?
                </h1>
                <h3 class="title">Cover</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Home</a>
                    <a class="nav-link fw-bold py-1 px-0" href="#">Features</a>
                    <a class="nav-link fw-bold py-1 px-0" href="w/">Bootstrap Page</a>
                </nav>
                <h1 class="title">
                <a href="locations/">See location list</a>
                </h1>
                <form action="{% url 'load_json' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Load Cities</button>
                </form>

            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{form.name}}
                            </div>
                            <div class="control">
                                <button type="submit"  class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>
                        {% if message %}
                            <div class="notification {{ message_class }}">{{ message }}</div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                   {% for city_weather in weather_data %} 
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{city_weather.icon}}.png" alt="Image"b 7>
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{city_weather.city}}</span>
                                        <br>
                                        <span class="subtitle">{{city_weather.temperature}}° C</span>
                                        <br> {{city_weather.description}}
                                        <p>Min Temperature: {{ city_weather.temp_min }}°C</p>
                                        <p>Max Temperature: {{ city_weather.temp_max }}°C</p>
                                        <br>
                                        <p>Sunrise: {{ city_weather.sunrise }}</p>
                                        <p>Sunset: {{ city_weather.sunset }}</p>
                                        <br>
                                    </p>
                                </div>
                            </div>
                            <div class="media-right">
                                <a href="{% url 'delete_city' city_weather.city %}">
                                   <button class="delete"></button>
                                </a>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>

</html>